.Register > form {
  width: 200px;
}

.Register > h2 {
  text-align: center;
}

.Register {
  height: 100%;
  text-align: center;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: left;
}

.Register input,
.Register textarea,
.Register button {
  width: 100%;
  box-sizing: border-box; /* Make buttons and inputs same size */
  margin-bottom: 20px;
}
